/* General page styling */

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  line-height: 1.6;
}

/* Navigation */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 20px;
}

.logo {
  justify-self: start;
  font-weight: bold;
  color: #222;
  text-decoration: none;
}

.logo span {
  color: #8355ed;
  font-size: 1.4em;
}

.main-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.navbar-link {
  color: #222;
  text-decoration: none;
  font-weight: bold;
}
/*
.navbar a {
  color: #222;
  text-decoration: none;
  font-weight: bold;
}*/
.contact-link {
  justify-self: end;
}

.contact-link img {
  width: 24px;
  height: 24px;
  display: block;
}

.contact-link:hover img {
  filter: grayscale(1);
  opacity: 0.6;
}

.navbar-link.active,
.navbar-link.active:hover,
.navbar-link.active:focus {
  color: #8355ed;
}

/* Hero section */

.hero {
  text-align: center;
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 80px 5%;
  width: 100%;
}
.hero-intro {
  flex: 1;
  text-align: left;
  line-height: 1.2;
}
.hero-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero h1 {
  font-size: 1rem;
}

.hero-heading {
  font-size: 4rem;
  font-weight: 700;
}
.hero-heading span {
  color: #8355ed;
}

.hero-title img {
  width: 36px;
  height: 36px;
}

.hero-image-wrapper {
  padding: 50px;
  border: 1px solid #8355ed;
  border-radius: 50%;
}

.hero-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center top;
  border-radius: 50%;
}

/* Sections */

.content-section {
  max-width: 800px;
  margin: 0 auto 0 5%;
  padding: 40px 20px;
  scroll-margin-top: 100px;
}
.section-title {
  font-size: 1.5rem;
  text-align: left;
}
.content-section + .content-section {
  padding-top: 20px;
}

/* Projects */

.project {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
}

/* Buttons */

.primary-button {
  background-color: #8355ed;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Footer */

.site-footer {
  text-align: center;
  padding: 30px;
  background-color: #222;
  color: white;
}

html {
  scroll-behavior: smooth;
}
